BOT_CONTAINER_NAME=XpymXpymBot
BOT_IMAGE_NAME=xpymxpymbot
BOT_NAME=testjokerbot

#Psi
#BOT_TOKEN=468750861:AAEqQqYlOmuB66rE410Ob9Ut8w4HRqBymmY
#Testjokerbot
#BOT_TOKEN=1475930893:AAGpG7Au3FepSnNOoSCYYJRreWOPmjycNuo
#Hrundel
BOT_TOKEN=6047884314:AAHdQjy0lCgm5Of_hFWNGsSgiUdLsXQPt6E

SKIP_UPDATES=False
SUPERUSER_IDS=252810436

NETBOX_URL=https://netbox.avantel.ru/
NETBOX_API=7f50ada4a4a66d4b2385e4f8f59a069bc219089b
NETBOX_LOGIN=a.deripasko
NETBOX_PASS=5sMoeot92P4

POSTGRES_USER=joker
POSTGRES_PASSWORD=Mrj0keer155
POSTGRES_DB=bot

MYSQL_ROOT_PASSWORD=Mrj0keer155!
MYSQL_DATABASE=test
MYSQL_USER=joker
MYSQL_PASSWORD=Mrj0keer155!

DB_USER=joker
DB_PASS=Mrj0keer155!
DB_NAME=test
#DB_HOST=10.139.144.27
#DB_HOST=localhost
DB_HOST=mysqls_db

USE_REDIS=True
REDIS_DATABASE=1
REDIS_HOST=localhost
REDIS_PASSWORD=123
REDIS_PORT=6388
